@import "tailwindcss";

@theme {
  /* COLORS*/
  --color-shark-50: #778490;
  --color-shark-100: #707d89;
  --color-shark-200: #65707b;
  --color-shark-300: #5a646d;
  --color-shark-400: #4e575f;
  --color-shark-500: #434a51;
  --color-shark-600: #373d43;
  --color-shark-700: #2c3035;
  --color-shark-800: #202427;
  --color-shark-900: #151719;
  --color-shark-950: #0f1112;
  --color-shark: #202427;

  /* Animations */
  --animate-bar-slide: bar-slide 1s cubic-bezier(0, 0.3, 1, 0.3) infinite;

  @keyframes bar-slide {
    0% {
      left: -40%;
      width: 30%;
    }
    100% {
      left: 100%;
      width: 30%;
    }
  }
}
